{
    "networks": [
        {
            "name": "",
            "nick": "",
            "altnick": "",
            "username": "",
            "realname": "",
            "servers": "",
            "channels": []
        }
    ]
}